<head>
	<title>Harriet Tubman Demon Slayer</title>
</head>
<body>
	<!-- Harriet Tubman Demon Slayer Slider Begin-->
	<div class="main_content">
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <ol class="carousel-indicators">
	      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      <li data-target="#myCarousel" data-slide-to="1"></li>
	      <li data-target="#myCarousel" data-slide-to="2"></li>
	      <li data-target="#myCarousel" data-slide-to="3"></li>
	      <!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
	    </ol>

	    <div class="carousel-inner">

	      <div class="item active">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-4.png" alt="Harriet Tubman Demon Slayer carousel image 1" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="caro-title"><b>Harriet Tubman Demon Slayer</b></h2>
	          <p class="caro-para"><b>Want a copy of the comic book?</b></p>
	          	<div class="btn-group amzn-btn"><!-- Amazon Button Begin -->
			  		<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
			  	</div><!-- Amazon Button End -->
	        </div>
	      </div>

	      <div class="item">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-5.png" alt="Harriet Tubman Demon Slayer carousel image 2" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="caro-title"><b>Harriet Tubman Demon Slayer</b></h2>
	          <p class="caro-para"><b>Your music can be on this TV show!</b></p>
	          <div class="btn-group amzn-btn"><!-- Amazon Button Begin -->
			  	<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
			  </div><!-- Amazon Button End -->
	        </div>
	      </div>

	      <div class="item">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-6.png" alt="Harriet Tubman Demon Slayer carousel image 3" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="caro-title"><b>Harriet Tubman Demon Slayer</b></h2>
	          <p class="caro-para"><b>Want a copy of the comic book?</b></p>
	          <div class="btn-group amzn-btn"><!-- Amazon Button Begin -->
				<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
			  </div><!-- Amazon Button End -->
	        </div>
	      </div>

	      <div class="item">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-7.png" alt="Harriet Tubman Demon Slayer carousel image 4" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="caro-title"><b>Harriet Tubman Demon Slayer</b></h2>
	          <p class="caro-para"><b>Your music can be on this TV show!</b></p>
	          <div class="btn-group amzn-btn"><!-- Amazon Button Begin -->
		  		<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
		  	  </div><!-- Amazon Button End -->
	        </div>
	      </div>
	    </div>
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev" data-interval="1000">
	      <span class="icon-prev" data-interval="1000"></span>
	    </a>

	    <a class="carousel-control right" href="#myCarousel" data-slide="next" data-interval="1000">
	      <span class="icon-next" data-interval="1000"></span>
	    </a>

	  </div>
	</div>

	<div class="row htds-para">
    	<div class="col-xs-12 htds-page">
    		
    		<div class="col-md-4">
    			<img width="150" src="../assets/images/HTDS/HTDS-poster-noir-color-mix_SFW.png" class="profile-img">
    		</div>
    		<div class="col-md-8 col-sm-12">
    			<h1 class="text-left creators">Harriet Tubman Demon Slayer</h1>
    			<p class="page-content htds-content">
    			During the 1950s, a young Harriet Tubman begins her incredible story risking her life to save the enslaved. However, when slave owners begin to realize the heroine’s actions and the fact that they cannot stop her, they call on the help of Vampires, Werewolves, Witches, and Demons to help in their oppression. Harriet Tubman Demon Slayer tells the story of the 5 foot tall formidable ninja warrior that is Harriet Tubman leading families of the enslaved to freedom all whilst battling an army of darkness. 
    		</p>
    		</div>
    	</div>
    </div>
   
    <div class="row htds-para"> <!-- David Crownson Profile Begin -->
    	<div class="col-md-4 col-sm-12">
    		<img src="../assets/images/HTDS/david-crownson2.png" class="profile-img"><!-- David Crownson's image-->
    	</div>
    	<div class="col-md-8 col-sm-12">
    		<h2 class="creators">David Crownson</h2>
    		<h3 class="creator-sub">creator of Harriet Tubman Demon Slayer</h3><br />
    		<p class="page-content htds-content">Born and raised in Frenchtown , New Jersey. David Crownson is the Creator/Writer of Harriet Tubman Demon Slayer. David Crownson came up with the concept for Harriet Tubman Demon Slayer and after raising over 20,000 dollars to fund the concept (5,000 more than his original 15,000 goal), he hit the floor running. He then began working with a multitude of established and incredibly talented illustrators to create the Harriet Tubman Demon Slayer you see now including Joey Vazquez (Marvel Comics), N Steven Harris (Marvel and DC Comics), and many more.
    		</p><!-- Description -->
    	</div>
    </div><!-- David Crownson Profile End -->

    <div class="row htds-para"> <!-- Daria's profile begin-->
    	<div class="col-md-4 col-sm-12">
    		<img src="../assets/images/HTDS/daria-hunter-2.jpg" class="profile-img"><!--Daria's Image-->
    	</div>
    	<div class="col-md-8 col-sm-12">
    		<h2 class="creators">Daria Hunter</h2>
    		<h3 class="creator-sub">creator of CoverTheseLyrics</h3><br />
			<p class="page-content htds-content">Daria Hunter is from Metuchen, New Jersey. She created CoverTheseLyrics as a way for artists to connect with other artists (songwriters with singers, singers with producers, etc.) but also to give a platform to artists who want to show their talents but may not necessarily have the huge budget or huge network that they need to do so. 
			</p><!-- Description -->
		</div>
    </div> <!-- Daria's profile End-->	

</body>