<head>
	<title>Harriet Tubman Demon Slayer</title>
</head>
<body>
	<!-- Harriet Tubman Demon Slayer Slider Begin-->
	<div class="main_content">
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <ol class="carousel-indicators">
	      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      <li data-target="#myCarousel" data-slide-to="1"></li>
	      <li data-target="#myCarousel" data-slide-to="2"></li>
	      <li data-target="#myCarousel" data-slide-to="3"></li>
	      <!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
	    </ol>

	    <div class="carousel-inner">

	      <div class="item active">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-4.png" alt="lone-singer" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2><b>Harriet Tubman Demon Slayer</b></h2>
	          <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</b></p>
	          	<div class="btn-group"><!-- Amazon Button Begin -->
			  		<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
			  	</div><!-- Amazon Button End -->
	        </div>
	      </div>

	      <div class="item">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-5.png" alt="bob marley look-a-like" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="carousel-caption-title"><b>Harriet Tubman Demon Slayer</b></h2>
	          <p class="carousel-caption-words"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</b></p>
	          <div class="btn-group"><!-- Amazon Button Begin -->
			  	<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
			  </div><!-- Amazon Button End -->
	        </div>
	      </div>

	      <div class="item">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-6.png" alt="microphone" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="carousel-caption-title"><b >Harriet Tubman Demon Slayer</b></h2>
	          <p class="carousel-caption-words"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</b></p>
	          <div class="btn-group"><!-- Amazon Button Begin -->
				<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
			  </div><!-- Amazon Button End -->
	        </div>
	      </div>

	      <div class="item">
	        <img src="/assets/images/HTDS/htds-slider/ht-slider-7.png" alt="pure-bluegrass" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="carousel-caption-title"><b>Lyrics are written to make a connection</b></h2>
	          <p class="carousel-caption-words"><b>Music is written to feel it.</b></p>
	          <div class="btn-group"><!-- Amazon Button Begin -->
		  		<a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
		  	  </div><!-- Amazon Button End -->
	        </div>
	      </div>

	      <!--<div class="item">
	        <img src="/assets/images/sliderImages/singer_crop_SFW.jpg" alt="singer" class="img-responsive photo">
	        <div class="carousel-caption">
	          <h2 class="carousel-caption-title"><b>CoverTheseLyrics is Your Stage</b></h2>
	          <p class="carousel-caption-words"><b>Perform</b></p>
	        </div>
	      </div> -->

	    </div>
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev" data-interval="1000">
	      <span class="icon-prev" data-interval="1000"></span>
	    </a>

	    <a class="carousel-control right" href="#myCarousel" data-slide="next" data-interval="1000">
	      <span class="icon-next" data-interval="1000"></span>
	    </a>

	  </div>
	</div>
	<!-- Harriet Tubman Demon Slayer Slider End-->

	<!-- <div class="btn-group"> --><!-- Amazon Button Begin -->
  		<!-- <a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
  	</div> --><!-- Amazon Button End -->

	<div class="row htds-para">
    	<div class="col-xs-12 htds-page">
    		<h1 class="text-center">Harriet Tubman Demon Slayer</h1>
    		<div class="col-md-4">
    			<img width="150" src="../assets/images/HTDS/HTDS-poster-noir-color-mix_SFW.png" class="profile-img">
    		</div>
    		<div class="col-md-8">
    			<p class="page-content">
    			For this contest CoverTheseLyrics is teaming up with David Crownson to find a musician and their music to be featured in his multimedia project Harriet Tubman Demon Slayer.
    		</p>
    		</div>
    	</div>
    </div>
   
    <div class="row htds-para"> <!-- David Crownson Profile Begin -->
    	<div class="col-md-4">
    		<img src="../assets/images/HTDS/david-crownson.png" class="profile-img"><!-- David Crownson's image-->
    	</div>
    	<div class="col-md-8">
    		<h2>David Crownson</h2>
    		<h3>&nbsp;&nbsp;&nbsp;&nbsp;creator of Harriet Tubman Demon Slayer</h3><br />
    		<p class="page-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    		</p><!-- Description -->
    	</div>
    </div><!-- David Crownson Profile End -->

    <div class="row htds-para"> <!-- Daria's profile begin-->
    	<div class="col-md-4">
    		<img src="../assets/images/HTDS/daria-hunter.png" class="profile-img"><!--Daria's Image-->
    	</div>
    	<div class="col-md-8">
    		<h2>Daria Hunter</h2>
    		<h3>&nbsp;&nbsp;&nbsp;&nbsp;creator of CoverTheseLyrics</h3><br />
			<p class="page-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><!-- Description -->
		</div>
    </div> <!-- Daria's profile End-->	

</body>