<div>

  <script>
    jQuery(document).ready(function($) {
      $('#myCarousel').unslider();
      autoplay:true;
      this.interval: 1000;
    });
  </script>

<div class="main_content">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="/assets/images/sliderImages/Lone-Singer_noir_SFW.jpg" alt="lone-singer" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="caro-title"><b>Music</b></h2>
          <p><b>The lyrics might be ours, but the music and what you do with it is yours.</b></p>
        </div>
      </div>

      <!--Harriet Tubman Demon Slayer Slider 1 Start-->
      <div class="item">
        <img src="/assets/images/HTDS/htds-slider/ht-slider-4.png" alt="Harriet Tubman Demon Slayer carousel image 1" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="caro-title"><b>Harriet Tubman Demon Slayer</b></h2>
          <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</b></p>
            <div class="btn-group"><!-- Amazon Button Begin -->
          <a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
        </div><!-- Amazon Button End -->
        </div>
      </div>
      <!--Harriet Tubman Demon Slayer Slider 1 End -->

      <div class="item">
        <img src="/assets/images/sliderImages/marley-like_newcrop_SFW.jpg" alt="bob marley look-a-like" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="caro-title"><b>Mic Check</b></h2>
          <p><b>Let us hear you.</b></p>
        </div>
      </div>

      <!--Harriet Tubman Demon Slayer Slider 2 Start-->
        <div class="item">
          <img src="/assets/images/HTDS/htds-slider/ht-slider-5.png" alt="Harriet Tubman Demon Slayer carousel image 2" class="img-responsive photo">
          <div class="carousel-caption">
            <h2 class="caro-title"><b>Harriet Tubman Demon Slayer</b></h2>
            <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</b></p>
            <div class="btn-group"><!-- Amazon Button Begin -->
          <a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
        </div><!-- Amazon Button End -->
          </div>
        </div>
      <!--Harriet Tubman Demon Slayer Slider 2 End -->

      <div class="item">
        <img src="/assets/images/sliderImages/microphone-D_noir_SFW.jpg" alt="microphone" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="caro-title"><b >If you win...</b></h2>
          <p><b>The world could be hearing your lyrics!</b></p>
        </div>
      </div>

      <!--Harriet Tubman Demon Slayer 3 Start-->
      <div class="item">
          <img src="/assets/images/HTDS/htds-slider/ht-slider-6.png" alt="Harriet Tubman Demon Slayer carousel image 3" class="img-responsive photo">
          <div class="carousel-caption">
            <h2 class="caro-title"><b >Harriet Tubman Demon Slayer</b></h2>
            <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</b></p>
            <div class="btn-group"><!-- Amazon Button Begin -->
              <a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
            </div><!-- Amazon Button End -->
          </div>
      </div> 
      <!--Harriet Tubman Demon Slayer 3 End-->

      <div class="item">
        <img src="/assets/images/sliderImages/pure_bluegrass_cropSFW.jpg" alt="pure-bluegrass" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="caro-title"><b>Lyrics are written to make a connection</b></h2>
          <p><b>Music is written to feel it.</b></p>
        </div>
      </div>

      <!--Harriet Tubman Demon Slayer 4 Start-->
      <div class="item">
        <img src="/assets/images/HTDS/htds-slider/ht-slider-7.png" alt="pure-bluegrassHarriet Tubman Demon Slayer carousel image 4" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="caro-title"><b>Lyrics are written to make a connection</b></h2>
          <p><b>Music is written to feel it.</b></p>
          <div class="btn-group"><!-- Amazon Button Begin -->
        <a href="http://www.amazon.com" target="_blank"><button type="button" class="btn btn-lg amazon">Buy Here!</button></a>
        </div><!-- Amazon Button End -->
        </div>
      </div>  
      <!--Harriet Tubman Demon Slayer 4 End-->

      <div class="item">
        <img src="/assets/images/sliderImages/singer_crop_SFW.jpg" alt="singer" class="img-responsive photo">
        <div class="carousel-caption">
          <h2 class="caro-title"><b>CoverTheseLyrics is Your Stage</b></h2>
          <p><b>Perform</b></p>
        </div>
      </div>

    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev" data-interval="1000">
      <span class="icon-prev" data-interval="1000"></span>
    </a>

    <a class="carousel-control right" href="#myCarousel" data-slide="next" data-interval="1000">
      <span class="icon-next" data-interval="1000"></span>
    </a>

  </div>
</div>

  <div class="row">
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="about">
        <div id="about-inner">
          <h2 class="about-h2 oleo-title">So What is CoverTheseLyrics?</h2>
          <p class="page-content">
            CoverTheseLyrics is an online singing contest for not only the singer in you, but the writer too. The contest is open to anyone, male or female, 14 years or older (with parental consent) and it is completely free. With CoverTheseLyrics, just by making
            your own song you can win multiple prizes!!
          </p>
          <p class="page-content">
            For this contest CoverTheseLyrics is teaming up with David Crownson to find a musician and their music to be featured in his multimedia project Harriet Tubman Demon Slayer.
          </p>
          <h2 class="about-h2"> 
            Check out the video below for more details!
          </h2>
        </div>  
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="contest-submission">
      <h2 class="about-h2 oleo-title">Submit your cover in 3 easy steps</h2>
      <iframe width="900" height="550" src="https://www.youtube.com/embed/-DAMbjfqJ8Y" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

<div class="container"><!-- past-winners-container -->
 <div class="row">
    <div class="col-xs-12" id="past-winners">
      <h2 class="about-h2 oleo-title">Checkout Our Previous Winners</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="555" height="312" src="https://www.youtube.com/embed/dFt1AgZM6co" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <h3 class="about-h2 oleo-title">Past Grand Prize Winner <a href="https://youtu.be/dFt1AgZM6co">Ben Iuliano</a></h3>
        </div>
      </div>  
      <div class="col-md-6">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="555" height="312" src="https://www.youtube.com/embed/F35LU1Oa0ds" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <h3 class="about-h2 oleo-title">Past Ingenuity Award Winner <a href="https://youtu.be/F35LU1Oa0ds">Ebony</a></h3></h3>
        </div>
      </div>
      <!-- <div class="col-md-4">  
        <div class="embed-responsive embed-responsive-16by9 ">
          <iframe width="360" height="350" src="https://www.youtube.com/embed/d67A_KaOpHw" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> -->
    </div>
  </div>
  

  <div class="spacing-div">
  </div>

  <!-- countdown timer -->
  <div class="container">
    <div class="row">
      <div id="del-countdown">
        <h2 class="timer-h2">The CoverTheseLyrics, Harriet Tubman Demon Slayer round starts in... </h2>
        <!-- April 1st 12am -->
        <div id="clock"></div>
        <div id="units">
          <span>Days</span>
          <span>Hours</span>
          <span>Minutes</span>
          <span>Seconds</span>
        </div>
      </div>
    </div>
  </div>

  <div class="spacing-div">
  </div>
  
  <div class="row">
    <span class="owner">Owned and operated by Daria Hunter.</span>
  </div>
</div>
