
<div class="row">
	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <div class="top-five">
	    <div class="top-five-inner">
	      <h1 class="about-h2 oleo-title">The Top Five Contestants</h1>
	      <p class="page-content">
	        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        consequat. Duis aute irure dolor.
	      </p>
	      <p class="page-content">
	        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </p>
	      <h2 class="about-h2"> 
	        Duis aute irure dolor in reprehenderit!
	      </h2>
	    </div>  
	  </div>
	</div>
</div>

    <div class="row htds-para"> <!-- Arnelle N begin #1-->
    	<div class="col-md-5 top-five-video">
    		<iframe  height="600" src="https://www.youtube.com/embed/HmY889baFkY" frameborder="0" allowfullscreen></iframe><!--Arnelle's Video-->
    	</div>
    	<div class="col-md-6">
    		<h2>Arnelle N</h2>
    		<h3>&nbsp;&nbsp;&nbsp;&nbsp;First time Grand Prize</h3><br />
			<p class="page-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><!-- Description -->
		</div>
    </div> <!-- Arnelle End-->


    <div class="row htds-para"> <!-- Ben I begin #2-->
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/QFBV889hGNk" frameborder="0" allowfullscreen></iframe><!--Ben's Video-->
    	</div>
    	<div class="col-md-6">
    		<h2>Ben I</h2>
    		<h3>&nbsp;&nbsp;&nbsp;&nbsp;First time Ingenuity Award Winner</h3><br />
			<p class="page-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><!-- Description -->
		</div>
    </div> <!-- Ben I End-->


    <div class="row htds-para"> <!-- Anna L begin #3-->
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/6JboueWcazc" frameborder="0" allowfullscreen></iframe><!--Anna's Video-->
    	</div>
    	<div class="col-md-6">
    		<h2>Anna L</h2>
    		<h3>&nbsp;&nbsp;&nbsp;&nbsp;Second Contest Competitor</h3><br />
			<p class="page-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><!-- Description -->
		</div>
    </div> <!-- Anna L End-->


    <div class="row htds-para"> <!-- Tierra Wilson begin #4-->
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/WtD2ePsugDU" frameborder="0" allowfullscreen></iframe><!--Tierra Wilson's Video-->
    	</div>
    	<div class="col-md-6">
    		<h2>Tierra W</h2>
    		<h3>&nbsp;&nbsp;&nbsp;&nbsp;Grand Prize Winner for the Third Contest</h3><br />
			<p class="page-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><!-- Description -->
		</div>
    </div> <!-- Tierra Wilson End-->


    <div class="row htds-para"> <!-- Trez begin #5-->
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/y47GBrw0AUM" frameborder="0" allowfullscreen></iframe><!--Trez's Video-->
    	</div>
    	<div class="col-md-6">
    		<h2>Trez</h2>
    		<h3>&nbsp;&nbsp;&nbsp;&nbsp;Second Ingenuity Winner</h3><br />
			<p class="page-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><!-- Description -->
		</div>
    </div> <!-- Trez End-->