
<div class="row">
	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
	  <div class="top-five">
	    <div class="top-five-inner">
	      <h1 class="about-h2 oleo-title">CoverTheseLyrics Top 5</h1>
	      <p class="page-content">
	        Previous Contestants from past CoverTheseLyrics Contests have thoroughly raised the bar on what submissions should look like. These contestants from all around the nation including California to New York brought charisma, raw talent, their unique charm, and the simple ability to be genuine to their submissions. We at CoverTheseLyrics have chosen these 5 to show you some of the traits that we will be looking for in this upcoming CoverTheseLyrics Harriet Tubman Demon Slayer Round. Enjoy!
	      </p>
	      <!-- <h2 class="about-h2"> 
	        Duis aute irure dolor in reprehenderit!
	      </h2> -->
	    </div>  
	  </div>
	</div>
</div>
	

    <div class="row htds-para"> <!-- Arnelle N begin #1-->
    	<div class="row">
    		<div class="col-md-12 text-center">	
    			<h2>Arnelle N</h2>
    			<h3>&nbsp;&nbsp;&nbsp;&nbsp;First time Grand Prize</h3>    			
    		</div>
    	</div>
    	<div class="col-md-5 top-five-video">
    		<iframe  height="600" src="https://www.youtube.com/embed/HmY889baFkY" frameborder="0" allowfullscreen></iframe><!--Arnelle's Video-->
    	</div>
    	<div class="col-md-6">
			<p class="page-content">Passion. Arnelle brought passion to her submission. By ensuring that she felt and understood every line in the lyric, it made it that much easier to come off as genuine. She also gave great visuals. Though simple, she used a changing light pattern that entertained the visual eye as well as different camera angles to keep the video exciting. She also had fun with multiple lines like “When you look down at your fingertips” and “What words explain the smile that might come”. She also used repetition of other lines like “you will not sound and peacefully sleep” to build and add power to the song. <b>Power + Genuine + Compelling Visuals + Confidence = Great Video.</b>
			</p><!-- Description -->
		</div>
    </div> <!-- Arnelle End-->


    <div class="row htds-para"> <!-- Ben I begin #2-->
    	<div class="row">
    		<div class="col-md-12 text-center">	
    			<h2>Ben I</h2>
    			<h3>&nbsp;&nbsp;&nbsp;&nbsp;First time Ingenuity Award Winner</h3>   			
    		</div>
    	</div>
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/QFBV889hGNk" frameborder="0" allowfullscreen></iframe><!--Ben's Video-->
    	</div>
    	<div class="col-md-6">
			<p class="page-content">Flair. Ben brought a flair as well as an incredibly unique swagger to his submission. Though the visuals stayed very simple, Ben used his voice (ranging from high notes to deeper low notes on lines he deemed appropriate for their individual usage) to capture the appeal of his audience and to really show his vocal range. He also took a huge risk with a grainy, close up aspect regarding his visual. <b>Flair + Swagger + Uniqueness = Great Submission.</b>
			</p><!-- Description -->
		</div>
    </div> <!-- Ben I End-->


    <div class="row htds-para"> <!-- Anna L begin #3-->
    	<div class="row">
    		<div class="col-md-12 text-center">	
    			<h2>Anna L</h2>
    			<h3>&nbsp;&nbsp;&nbsp;&nbsp;Second Contest Competitor</h3>   			
    		</div>
    	</div>
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/6JboueWcazc" frameborder="0" allowfullscreen></iframe><!--Anna's Video-->
    	</div>
    	<div class="col-md-6">
			<p class="page-content">Professionalism. Anna brought an incredible aspect of professionalism to her submission. CoverTheseLyrics truly values a finished product and that is what Anna handed to us. She used subtlety in her voice (which although subtle, one can tell she holds a mass amount of power behind said subtlety). Her subtlety matched the tone of the lyrics which shows even more the deep connection she had with them and why she chose that specific one. <b>Professionalism + Connection +  Power = An Excellent Finished Submission.</b>
			</p><!-- Description -->
		</div>
    </div> <!-- Anna L End-->


    <div class="row htds-para"> <!-- Tierra Wilson begin #4-->
    	<div class="row">
    		<div class="col-md-12">	
    			<div class="row contestant-img">
    				<div class="col-md-5">
    					<img src="../assets/images/HTDS/profile/tierra-wilson_SFW.png">
    				</div>
    				<div class="col-md-6 contestant-info">
    					
						<h2>Tierra Wilson</h2>
						<h3>Grand Prize Winner for the Third Contest</h3>
						<h3>Covered INHALE</h3>
						<h3><a href="https://youtu.be/WtD2ePsugDU">Link</a></h3>
    					
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/WtD2ePsugDU" frameborder="0" allowfullscreen></iframe><!--Tierra Wilson's Video-->
    	</div>
    	<div class="col-md-6">
			<p class="page-content">Vulnerability. Tierra brought an air or vulnerability in such a simple form that it translated incredibly beautifully. Although her video was very light, her vocals shined through. Even though if needed, the song itself would need to be re-recorded in a more professional manner, this submission was too personal and deep to look over. When an artist puts their heart out in a submission… we feel it. <b>Vulnerability + Depth + Transparency = Feeling.</b>
			</p><!-- Description -->
		</div>
    </div> <!-- Tierra Wilson End-->


    <div class="row htds-para"> <!-- Trez begin #5-->
    	<div class="row">
    		<div class="col-md-12 text-center">	
    			<h2>Trez</h2>
    			<h3>&nbsp;&nbsp;&nbsp;&nbsp;Second Ingenuity Winner</h3>   			
    		</div>
    	</div>
    	<div class="col-md-5 top-five-video">
    		<iframe width="360" height="203" src="https://www.youtube.com/embed/y47GBrw0AUM" frameborder="0" allowfullscreen></iframe><!--Trez's Video-->
    	</div>
    	<div class="col-md-6">
			<p class="page-content">MUSIC. Trez was one of the first submissions to involver music which will be a necessity this round. He had so much fun with the visual also being the first submission to use split screen. He played with background vocals as well as using diversity in range to showcase his own talent as well as add depth to the lyrics as well as song. Trez took chances, and truly turned the words he read into a heavy R&B ballad that transcended. <b>Music + Risk-taking + Talent = Transcendence.</b> 
			</p><!-- Description -->
		</div>
    </div> <!-- Trez End-->